<ion-header>

  <ion-navbar>

    <ion-title>add-post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label floating>Post</ion-label>
        
<ion-input type="text" [(ngModel)]="mypost.postText" ></ion-input>
      </ion-item>
      <br>
      <button ion-button  block  (click)="addPost()">
          add
        </button>
        
        <ion-grid>
            <ion-row>
              <ion-col col-6>
             <button ion-button block outline icon-left (click)="takePhoto()">
               <ion-icon name="camera"></ion-icon>
                  Camera
             </button>
              </ion-col>
      
              <ion-col col-6>
                  <button ion-button block outline icon-left (click)="openGallery()">
                    <ion-icon name="image"></ion-icon>
                       Gallery
                  </button>
                   </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
               <h2 *ngIf="imagePath ==''">Take a Phtot</h2>
               <img  *ngIf="imagePath !=''" height="300px" width="250" src="{{imagePath}}">
                </ion-col>
                </ion-row>
      
      
                <ion-row>
                    <ion-col col-6>
                   <button ion-button block  (click)="save()">
                     Save
                   </button>
                    </ion-col>
      
                    <ion-col col-6>
                        <button ion-button block  (click)="Cancel()">
                          Cancel
                        </button>
                         </ion-col>
                  </ion-row>
          </ion-grid>

</ion-content>
